* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

.map-container svg {
	max-width: 100%;
	padding-top: 60px;
}

.map-container svg path:hover {
	fill: blue;
}

/* navbar */
.navbar-brand img {
	max-width: 50px;
}
