* {
	padding: 0;
	margin: 0;
}

/* body */
body {
	background-image: url(/images/background.jpg);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}

/* navbar */
.navbar-brand img {
	max-width: 50px;
}

.navbar a {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/* home content */
.home-content {
	max-width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	border-radius: 40px;
	padding: 30px;
}

.button-container {
	display: flex;
	flex-direction: row;
	gap: 50px; /* Adjust the gap as needed */
}

.home-content h1 {
	font-size: 60px;
	font-weight: 700;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.home-content p {
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
	font-weight: 700;
}
.home-content .start-btn {
	font-family: Arial, Helvetica, sans-serif;
	width: 190px;
	height: 55px;
	background: yellow;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	box-shadow: 0 0 10px yellow;
	font-size: 18px;
	color: black;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
}
.home-content .start-btn:hover {
	background: rgb(255, 186, 107);
	box-shadow: none;
	transition: 0.5s;
}

/* image oontainer */
.image-container img {
	position: relative;
	left: 300px;
	top: 100px;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/* type writer */

.typewriter-effect {
	display: flex;
	justify-content: center;
	font-family: monospace;
}

.typewriter-effect > .text {
	max-width: 0;
	animation: typing 3s steps(var(--characters)) infinite;
	white-space: nowrap;
	overflow: hidden;
}

.typewriter-effect::after {
	content: " |";
	animation: blink 1s infinite;
	animation-timing-function: step-end;
}

@keyframes typing {
	75%,
	100% {
		max-width: calc(var(--characters) * 1ch);
	}
}

@keyframes blink {
	0%,
	75%,
	100% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
}
