* {
	margin: 0;
	padding: 0;
}

/* navbar */
.navbar-brand img {
	max-width: 50px;
}

.navbar a {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/* container */
.container {
	border-radius: 15px;
	border: 3px solid cyan;
	position: relative;
	z-index: 1;
}

.rows {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.top-row {
	flex-direction: column;
}

.top-row div {
	padding: 10px 10px 0 0;
}

#location,
#date,
#time {
	background-color: aqua;
	border: 1px solid black;
	max-width: 230px;
	margin: 5px 0;
	border-radius: 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.days div {
	position: relative;
	background-color: aqua;
	border: 1px solid black;
	padding: 10px;
	margin: 10px 0;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

#today-title,
#overmorrow-title,
#tommorow-title {
	margin-bottom: 0px;
}

.main-details {
	bottom: 195px;
}
/* search */
#search {
	position: relative;
	border-radius: 10px;
	display: flex;
	padding: 10px 0;
}

#search-bar {
	flex: 1;
	padding: 3px;
	border: 3px solid cyan;
	border-radius: 6px;
	outline: none;
}

#search-button {
	padding: 3px;
	border: 3px solid cyan;
	border-radius: 6px;
}

/* weather info */
.weather-info {
	flex: 1 1;
	padding: 10px 30px;
	position: relative;
}

.main-details span {
	display: flex;
	flex-direction: column;
	background-color: aqua;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
	max-width: 200px;
}

.main-details {
	position: relative;
}

.scrolling-wrapper {
	display: flex;
	overflow-x: scroll;
	position: relative;
	scroll-behavior: smooth;
	max-width: 820px;
	bottom: 390px;
	left: 226px;
	border: 2px solid aqua;
	border-radius: 20px;
}

.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}

.scrolling-wrapper .hour-card {
	font-family: sans-serif;
	border-radius: 8px;
	background: #ff6961;
	color: white;
	padding: 10px 10px;
	margin: 10px 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 150px;
	max-width: 200px;
	cursor: pointer;
	user-select: none;
}
