/* navbar */
.navbar-brand img {
	max-width: 50px;
}

.navbar a {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.container {
	border-radius: 15px;
	border: 3px solid cyan;
	position: relative;
	z-index: 1;
}

.rows {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.top-row {
	flex-direction: column;
}

.top-row div {
	padding: 10px 10px 0 0;
}

#search {
	margin: 10px 0;
	position: absolute;
	margin-left: 25%;
	margin-right: auto;
	border-radius: 10px;
	padding: 0 2px;
	display: flex;
}

#search-bar {
	flex: 1;
	padding: 3px;
	border: 3px solid cyan;
	border-radius: 6px;
	outline: none;
}

#search-button {
	padding: 3px;
	border: 3px solid cyan;
	border-radius: 6px;
}

.weather-info {
	flex: 1 1;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
}

.scrolling-wrapper {
	display: flex;
	overflow-x: scroll;

	max-width: 50rem;
	margin: 0 auto;
}

.scrolling-wrapper div {
	font-family: sans-serif;

	border-radius: 8px;
	background: #ff6961;
	color: white;

	padding: 2rem 3rem;
	margin: 2rem 1rem;
}
